### Relative ranks

This exercise requires that, given a list of unique integers representing scores of a competition, you attribute a rank without changing scores' positions.  

The first, second and third highest scores should receive 'Gold Medal', 'Silver Medal' and 'Bronze Medal', respectively. The rest should receive their position in the competition.

In [13]:
def find_relative_ranks(score: list[int]) -> list[int]:

    sorted_score = sorted(score, reverse=True)

    count = {}

    result = []

    for i in range(len(sorted_score)):

        if i == 0:

            count[sorted_score[i]] = "Gold Medal"

        elif i == 1:

            count[sorted_score[i]] = "Silver Medal"

        elif i == 2:

            count[sorted_score[i]] = "Bronze Medal"

        else:

            count[sorted_score[i]] = str(i + 1) + "th"

    for i in score:

            result.append(count[i])

    return result

In [10]:
scores = [
    [1, 2, 3, 4, 5],
    [5, 4, 3, 2, 1],
    [15, 1, 14, 2, 13, 3],
    [10, 9, 8, 7, 5, 3, 2, 1],
    [7, 8, 3, 5, 9, 15, 22],
    [0, 1, 3, 6, 4, 9, 88],
    [-1, -2, -3, -4, -5]
]

In [14]:
for score in scores:
    res = f'In the competion where scores were: {score}, the ranks were: {find_relative_ranks(score)}'
    print(res)
    print('-'*len(res))

In the competion where scores were: [1, 2, 3, 4, 5], the ranks were: ['5th', '4th', 'Bronze Medal', 'Silver Medal', 'Gold Medal']
---------------------------------------------------------------------------------------------------------------------------------
In the competion where scores were: [5, 4, 3, 2, 1], the ranks were: ['Gold Medal', 'Silver Medal', 'Bronze Medal', '4th', '5th']
---------------------------------------------------------------------------------------------------------------------------------
In the competion where scores were: [15, 1, 14, 2, 13, 3], the ranks were: ['Gold Medal', '6th', 'Silver Medal', '5th', 'Bronze Medal', '4th']
----------------------------------------------------------------------------------------------------------------------------------------------
In the competion where scores were: [10, 9, 8, 7, 5, 3, 2, 1], the ranks were: ['Gold Medal', 'Silver Medal', 'Bronze Medal', '4th', '5th', '6th', '7th', '8th']
----------------------------------------------------------------------------------------------------------------------------------------------------------------
In the competion where scores were: [7, 8, 3, 5, 9, 15, 22], the ranks were: ['5th', '4th', '7th', '6th', 'Bronze Medal', 'Silver Medal', 'Gold Medal']
-------------------------------------------------------------------------------------------------------------------------------------------------------
In the competion where scores were: [0, 1, 3, 6, 4, 9, 88], the ranks were: ['7th', '6th', '5th', 'Bronze Medal', '4th', 'Silver Medal', 'Gold Medal']
------------------------------------------------------------------------------------------------------------------------------------------------------
In the competion where scores were: [-1, -2, -3, -4, -5], the ranks were: ['Gold Medal', 'Silver Medal', 'Bronze Medal', '4th', '5th']
--------------------------------------------------------------------------------------------------------------------------------------