### Move zeros
This exercise requires that, given an array with different numbers including zeros, you to move the zeros to the end of the array.

This algorithm has to be done in-place (without creating a new array) and should minimize the total number of operations

In [5]:
def move_zeros(nums: list[int]) -> None:
  prev_idx = 0
  for i in range(len(nums)):
      if nums[i] != 0:
          hold = nums[prev_idx]
          nums[prev_idx] = nums[i]
          nums[i] = hold
          prev_idx+=1

In [6]:
test1 = [0, 1, 0, 3, 12]

move_zeros(test1)

test1

[1, 3, 12, 0, 0]

In [9]:
test2 = [10, 0, 0, 5, 456, 1, 0, 3, 12]

move_zeros(test2)

test2

[10, 5, 456, 1, 3, 12, 0, 0, 0]

In [10]:
test3 = [10, 0, 0, 5, 456, 1, 0, 3, 12, 10, 0, 0, 5, 456, 1, 0, 3, 12, 10, 0, 0, 5, 456, 1, 0, 3, 12, 10, 0, 0, 5, 456, 1, 0, 3, 12, 10, 0, 0, 5, 456, 1, 0, 3, 12 ]

move_zeros(test3)

test3

[10,
 5,
 456,
 1,
 3,
 12,
 10,
 5,
 456,
 1,
 3,
 12,
 10,
 5,
 456,
 1,
 3,
 12,
 10,
 5,
 456,
 1,
 3,
 12,
 10,
 5,
 456,
 1,
 3,
 12,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]